.right {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}
.leftAlign{
  text-align: left;
}
.center{
  margin: 0 auto;
}

.rightAlign{
  text-align: right;
}
.center-wrap {
  text-align: center;
  clear: both;
}
